body{
    margin:0;
    font-family:Arial, sans-serif;
}

header{
    text-align:center;
    padding:100px 20px;
    background:#0a3d62;
    color:white;
}

h1{
    font-size:50px;
}

p{
    font-size:20px;
}

button{
    padding:12px 25px;
    font-size:18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.courses{
    padding:60px 20px;
    text-align:center;
}

.course-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.course-card{
    width:150px;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    font-weight:bold;
}
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#082c4e;
color:white;
}

.logo{
font-size:24px;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
margin:0;
padding:0;
}

nav a{
text-decoration:none;
color:white;
font-weight:bold;
}
.team{
    padding:60px 40px;
    background:#f8f9fa;
}

.team h2{
    text-align:center;
    font-size:42px;
    color:#0a3d62;
    margin-bottom:50px;
}

.member{
    display:flex;
    gap:30px;
    margin-bottom:30px;
    padding:30px;
    background:white;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    transition:0.3s;
}

.member:hover{
    transform:translateY(-5px);
}

.member img{
    width:180px;
    height:220px;
    object-fit:cover;
    border-radius:10px;
    border:3px solid #0a3d62;
}

.member h3{
    font-size:38px;
    font-weight:700;
    color:#1a1a1a;
}

.member p{
    margin:5px 0;
}

.role{
    color:#0a3d62;
    font-size:22px;
    font-weight:600;
    margin-bottom:15px;
}
.news-section{
padding:60px 40px;
background:#f8f9fa;
}

.news-section h2{
text-align:center;
font-size:40px;
color:#0a3d62;
margin-bottom:40px;
}

.news-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.news-card{
width:250px;
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
transition:0.3s;
}

.news-card:hover{
transform:translateY(-5px);
}

.news-card h3{
color:#0a3d62;
margin-bottom:10px;
}
.market-section{
padding:60px 40px;
background:white;
}

.market-section h2{
text-align:center;
font-size:40px;
color:#0a3d62;
margin-bottom:40px;
}

.market-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
}

.market-card{
width:250px;
padding:25px;
background:#0a3d62;
color:white;
text-align:center;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.15);
transition:0.3s;
}

.market-card:hover{
transform:translateY(-5px);
}

.market-card h3{
margin-bottom:10px;
}
.jobs-section{
padding:60px 40px;
background:#f8f9fa;
}

.jobs-section h2{
text-align:center;
font-size:40px;
color:#0a3d62;
margin-bottom:40px;
}

.jobs-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
}

.job-card{
width:300px;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.job-card h3{
color:#0a3d62;
margin-bottom:15px;
}

.job-card p{
margin:8px 0;
}

.job-card button{
margin-top:15px;
padding:10px 20px;
border:none;
background:#0a3d62;
color:white;
border-radius:6px;
cursor:pointer;
}
.roadmap-section{
padding:60px 40px;
background:white;
}

.roadmap-section h2{
text-align:center;
font-size:40px;
color:#0a3d62;
margin-bottom:40px;
}

.roadmap-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
}

.roadmap-card{
width:320px;
padding:25px;
background:#f8f9fa;
border-left:5px solid #0a3d62;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.roadmap-card h3{
color:#0a3d62;
margin-bottom:15px;
}
.skills-section{
padding:60px 40px;
background:#f8f9fa;
}

.skills-section h2{
text-align:center;
font-size:40px;
color:#0a3d62;
margin-bottom:40px;
}

.skills-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
}

.skill-card{
width:300px;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
transition:0.3s;
}

.skill-card:hover{
transform:translateY(-5px);
}

.skill-card h3{
color:#0a3d62;
margin-bottom:10px;
}
